
h2,h3,h4 {
    color: $yellow;
    font-style: $italic;
}

body{
    background-color:$whitesm;
}

.bg_lightblue{
    background-color: $bgLightblue;
    
}


.bg_blue{
    background-color: $bgBlue;
}
