#form_contacto {
    width: $w-70;
    padding-bottom: 40px;

    .btn_contacto {
        background-color: $orange;
        font-family: $fontMain;

        &:hover {
            color: $mainColor;
        }
    }

}

.scale:hover {
    transform: scaleX(1.12)
}