footer {
    background-color: $secondColor;

    .footer {
        font-family: $fontMain;
        color: $mainColor;
        list-style: none;
        margin-top: 30px;

        img {
            width: $w-5;
            display: flex;
            justify-items: left;
        }
    }
}


.pie_redes {
    font-family: $fontMain;
    color: $mainColor;
  
   

}