
$mainColor: rgb(18, 52, 116);
$secondColor:  rgba(176, 196, 222, 0.8);


$justify-content-end: justify content end;
$center: justify content center;


$white: white;
$whitesm: whitesmoke;
$orange: #e9791a;
$black: black;


$w-100: 100%;
$w-70: 70%;
$w-75: 75%;
$w-60: 60%;
$w-40: 40%;

$bgLightblue: rgba(176, 196, 222, 0.8);
$bgBlue: rgb(18, 52, 116);






