h2,
h3,
h4 {
    color: $orange;
    font-style: $italic;
}

body {
    background-color: $whitesm;
}

.bg_lightblue {
    background-color: $bgLightblue;

}


.bg_blue {
    background-color: $bgBlue;
}

//extend

.button {
    background-color: $orange;
    font-family: $fontMain;
    color: $black;
    font-size: $textSm;

}


.btn_agregar {
    @extend .button;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 35px;
    background-color: $orange;

    &:hover {
        color: $mainColor;
        cursor: pointer;
    }
}

//mixin
@mixin texto ($color, $fontSize) {
    color: $color;
    font-size: $fontSize;
}

//maps
$paleta: (white: white,
    wsmoke: whitesmoke,
    bl: black, );



.body404 {
    background: #00E7DC;
    margin: 0;
    padding: 0;

    overflow:hidden h1 {
        font-family: 'Nunito', sans-serif;
        color: #fff;
        text-align: center;
        padding: 2em 0 0;
        opacity: 0;
    }

    svg {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%
    }

}