
.btn_envio{
    background-color: $orange;
    font-family:$fontMain;
}

.card_envio{
margin-top: 40px;
}
.btn_entrega{
    background-color: $fontMain;
    font-family:$fontMain;
    margin-bottom: 5px;
}
.form-select{
    width: $w-100;
}
