
$fontMain: 'Roboto', sans-serif;
$secondFont:'Roboto Condensed', sans-serif;

$textLg: 1.6rem;
$textMd: 1.4rem;
$textsm: 1.3em;

$textBold: 700;
$textRegular: 500;
$textlight: 300;

$textSm: small;

$italic: italic;

$textCenter: center;



